slakh2100_flac_redux/
spectrograms_train/
spectrograms_validation/
spectrograms_test/
spectrograms/
processed_train/
processed_validation/
processed_test/
labels_train/
labels_validation/
labels_test/

primary_labels_test/
primary_labels_train/
primary_labels_validation/

secondary_labels_test/
secondary_labels_train/
secondary_labels_validation/

spectrograms_validation_remixed/
primary_labels_validation_remixed/

spectrograms_reduced/
spectrograms_reduced_test/
spectrograms_reduced_train/
spectrograms_sixtyfour/
spectrograms_sixtyfour_test/
spectrograms_sixtyfour_train/
spectrograms_thirtytwo/
spectrograms_thirtytwo_test/
spectrograms_thirtytwo_train/
spectrograms_sixteen/
spectrograms_sixteen_test/
spectrograms_sixteen_train/

labels_reduced/
labels_reduced_test/
labels_reduced_train/