slakh2100_flac_redux/
spectrograms_train/
spectrograms_validation/
spectrograms_test/
spectrograms/
processed_train/
processed_validation/
processed_test/
labels_train/
labels_validation/
labels_test/

primary_labels_test/
primary_labels_train/
primary_labels_validation/

secondary_labels_test/
secondary_labels_train/
secondary_labels_validation/