slakh2100_flac_redux/
spectrograms_train/
spectrograms_validation/
spectrograms_test/
spectrograms/
processed_train/
processed_validation/
processed_test/
labels_train/
labels_validation/
labels_test/

spectrograms_validation_256/